.banner {
  height: 156px;
}
.banner__container {
  height: 100%;
}
.banner__container > .row {
  height: 100%;
}

.banner__left,
.banner__right {
  position: relative;
  width: 50%;
  padding: 0;
  margin: 0;
}

img.banner__background {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.banner__left {
}
.banner__left .banner__real-img {
  background-image: url("../Assets/banner-image-1.png");
}

.banner__right {
}
.banner__right .banner__real-img {
  background-image: url("../Assets/banner-image-2.png");
}

.banner__real-img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  z-index: 0;
}

.banner__link {
  position: relative;
  display: block;
  overflow: hidden;
}

.banner__title {
  position: absolute;
  top: 26%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.21px;
  color: #222;
}
.banner__description {
  position: absolute;
  top: 44%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0 20px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: 12px;
  line-height: 20px;
  font-weight: 100;
  letter-spacing: -0.18px;
  color: #222;
}
.banner__more {
  display: none;
}

@media (min-width: 1024px) {
  .banner__title {
    top: 15%;
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
    letter-spacing: -0.33px;
    color: #222;
    text-align: center;
  }

  .banner__description {
    top: 34%;
    display: block;
    text-overflow: normal;
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
    letter-spacing: -0.21px;
    color: #222;
    text-align: center;
  }

  .banner__more {
    display: block;
    width: 230px;
    height: 50px;
    margin: 20px auto 0;
    padding: 0 40px;
    border: #222 1px solid;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 48px;
    font-weight: 300;
    letter-spacing: -0.21px;
    color: #222;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .banner__title {
    top: 17%;
    font-size: 20px;
    line-height: 31px;
    font-weight: 700;
    letter-spacing: -0.33px;
    color: #222;
  }

  .banner__description {
    top: 36%;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: -0.21px;
    color: #222;
  }

  .banner__more {
    width: 180px;
    height: 36px;
    margin: 10px auto 0;
    padding: 0 20px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    font-size: 12px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: -0.21px;
    color: #222;
  }
}
