footer {
  background-color: #222222;
  padding: 50px 20px;
  height: 100%;
}

.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__logos img {
  background-color: #fff;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 12px;
}

.footer__contact {
  position: relative;
  margin-top: 24px;
  border-bottom: 1px solid #9b9b9b;
}

.footer__contact div {
  color: #fff;
  margin-top: 5px;
}
.footer__contact div:first-child {
  font-size: 16px;
  font-weight: 900;
}
.footer__contact div:nth-child(2) {
  font-size: 12px;
  color: #9b9b9b;
  padding: 10px 0;
}
.footer__contact div:nth-child(2) a {
  display: none;
  font-weight: 700;
}
.footer__contact div:nth-child(3) {
  padding-top: 5px;
  font-size: 12px;
  font-weight: 500;
}
.footer__contact div:last-child {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  margin: 30px 0;
  outline: none;
}

.service-center {
  border-radius: 18px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 20px;
  border: 1px solid #fff;
  cursor: pointer;
}

.footer__about {
  padding-top: 15px;
}
.footer__about > div {
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: -0.17px;
  color: #fff;
  padding-right: 7px;
  border-right: 1px solid #fff;
}

.footer__about > div:last-child {
  border-right: none;
}
.footer__about > div > a {
  color: #fff;
}
.footer__about-img {
  display: none;
}

.footer__tems {
  margin-top: 25px;
}
.footer__tems a {
  color: #fff;
  margin-right: 30px;
  font-size: 12px;
  font-weight: 700;
}

.br {
  display: none;
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 80px 60px;
  }
  .footer__logos img {
    width: 36px;
    height: 36px;
  }

  .footer__contact {
    margin-top: 16px;
  }

  .footer__contact div:first-child {
    display: inline-block;
    font-size: 22px;
    font-weight: 900;
  }
  .footer__contact div:nth-child(2) {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
  }
  .footer__contact div:nth-child(2) a {
    display: inline;
    margin-left: 16px;
  }
  .footer__contact div:nth-child(3) {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 25px;
  }

  .footer__contact div:last-child {
    display: none;
  }

  .footer__about {
    padding-top: 15px;
  }
  .footer__about div {
    font-size: 14px;
    margin: 0px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.21px;
    padding: 0;
  }
  .footer__about div::after {
    width: 0;
  }
  .footer__about div:nth-child(2n) {
    border: 2px solid #d3d3d3;
    border-style: none solid;
    padding: 0 8px;
  }

  .footer__tems {
    float: right;
    margin-right: 0;
    top: 10%;
    position: relative;
    bottom: 50px;
    right: 0px;
    text-align: end;
  }

  .footer__tems a {
    font-size: 14px;
    margin-left: 30px;
    margin-right: 0;
  }

  .br {
    display: block;
  }
}

@media screen and (min-width: 1140px) {
  .footer__about-img {
    width: 150px;
    height: 63px;
    display: block;
    position: absolute;
    right: 10px;
    top: -10px;
  }
}
