.youtube {
  padding-top: 120px;
}

.youtube > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  height: 40vw;
  max-height: 40vh;
  box-sizing: border-box;
  overflow: hidden;
}

#youtube__player {
  width: 100%;
  height: 56.25vw;
}

.youtube__caption {
  display: block;
  text-decoration: none;
  color: #555;
  text-align: center;
  margin: 10px auto;
  width: 100%;
  font-size: 11px;
  transition: 0.3s;
}
.youtube__caption:hover {
  transition: 0.3s;
  color: #fad654;
}
@media screen and (min-width: 1024px) {
  .youtube > div {
    max-width: 1120px;
    height: 630px;
    margin: 0 auto;
  }

  .youtube__caption {
    max-width: 1120px;
  }
}
